<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZoTZoT GO</title>

    <link rel="stylesheet" href="/statics/searched.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>

<body>
    <div id="searchElements">
        <div id="title">
            <div class="logo">
                <a href="/">
                    <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/1471348/anteater-clipart-xl.png"
                        alt="anteater3">
                </a>
            </div>
            <!-- <div class="textTitle">
                <h1>valgrind.lookup</h1>
            </div> -->
        </div>

        <div id="searchBox">
            <form id="searchForm" method="POST">
                <input id="searchbar" type="search" name="srch" placeholder="Search...">
                <button id="searchButton" type="submit">
                    <img src="https://cdn2.iconfinder.com/data/icons/minimal-set-five/32/minimal-48-512.png"
                        alt="searchIcon">
                </button>
            </form>
        </div>
    </div>
    <div id="searchResults">

    </div>
</body>

</html>